<div class="wrapper">
  <header>
    <h2>Currency Exchange</h2>
  </header>
  <main>
    <div class="inputTotalForExchange">
      <p>Enter Amount</p>
      <input type="" [(ngModel)]="count">
    </div>
    <div class="selectCurrence">
      <div class="from">
        <p>From</p>
        <select id="" [(ngModel)]="selectCurencyFrom">
          @for (name of currency; track name) {
          <option value="{{name.currency}}">{{name.currency}}</option>
          }
        </select>
      </div>
      <div class="switch">
        <button>стрілка</button>
      </div>
      <div class="to">
        <p>To</p>
        <select id="" [(ngModel)]="selectCurencyTo">
          @for (name of currency; track name) {
          <option value="{{name.rate}}">{{name.currency}}</option>
          }
        </select>
      </div>
      
    </div>
    <div class="total">
      <div class="total_from_to">{{total}}</div>
      <button (click)="calculation()">Get Exchange Rate</button>
    </div>
  </main>
</div>