.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fde8bc;   
    
    header h2 {
        text-align: center;
    }
}