.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #fde8bc;   
    
    header h2 {
        text-align: center;
    }

    main {
        .inputTotalForExchange input{
            width: 100%;
            padding: 5px;
        }
        .selectCurrence {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .from, .to {
                width: 40%;

                select {
                    width: 100%;
                    padding: 5px;
                }
            }
            .switch {
                display: flex;
                justify-content: center;
                align-items: end;
                button {
                    padding: 5px;
                }
               
            }
        }
        .total {
            .total_from_to {
                width: 100%;
                padding: 5px;
                border: 1px solid #000;
                background-color: #fff;
            }

            button {
                padding: 5px;
                width: 100%;
                text-align: center;
            }
        }
    }
}